# Project exclude paths
/demo-test/target/
/spring-step-01/target/
/spring-step-02/target/
/spring-step-03/target/
/spring-step-04/target/
/spring-step-05/target/
/spring-step-06/target/
/spring-step-07/target/
/spring-step-08/target/
/spring-step-09/target/
/spring-step-10/target/
/spring-step-11/target/
/spring-step-12/target/
/spring-step-13/target/
/spring-step-14/target/
/spring-step-15/target/
/spring-step-16/target/
/spring-step-17/target/
/spring-step-18/target/
/spring-step-19/target/
/spring-step-20/target/
/spring-step-21/target/