<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd
		 http://www.springframework.org/schema/context">

    <bean id="husband" class="cn.bugstack.springframework.test.bean.Husband">
        <property name="wifeName" value="妻子名字"/>
        <property name="marriageDate" value="2024-10-01"/>
    </bean>

    <bean id="conversionService" class="cn.bugstack.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters" ref="converters"/>
    </bean>

    <bean id="converters" class="cn.bugstack.springframework.test.converter.ConvertersFactoryBean"/>



</beans>